*{
    padding:0;
    margin:0;
    background-color:#171717;
    font-family:'Inter', sans-serif;
}

.title{
    font-size: 1rem;

    display: block;
    text-align: center;
    padding: 2rem;
}

.community-title{
    font-weight:600;
    color: #FFFFFF;
}
.color-title{
    font-weight: 600;
    color: #D40101; 
}
.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding:2rem;
}

.bp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

    border: 1px solid #282828;
    border-radius: 10px;

    padding:1.5rem;
}

.bp-container h5{
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 10px;
}

.bp-container-title{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 1rem;
}

.progression-bar-red{
    background-color :#3D1312;
    height: 3px;
    width: 13px;
    border-radius: 1px;
}

.already-done-red{
    background-color: #D40101;
    height:3px;
    width:3px;
    border-radius: 1px;
}

.tiny-container {
    background-color: #1F1F1F;

    border-radius: 10px;
    padding: 1rem ;

    height: 100%;
    width: 100%;
}

.tiny-container-title{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;  

    background-color: #1F1F1F;
    
}

.tiny-title{
    background-color: #1F1F1F;
    padding-right: 10px; 
}

.tiny-PRO{
    background-color: #2E2E2E;
    color:#FFFFFF;

    font-size: 7px;
    font-weight: 400;

    border-radius: 2px;

    padding: 2.5px 5px;
}

.counter{
    width: 20px;
    height: 20px;

    background-color: #1F1F1F;
    color: white;

    font-size: 7px;
    font-weight:500;
    text-align: center; 

    border: 1px solid #3C3C3C;
    border-radius: 5px;
}

.tiny-container p{
    font-size: 10px;
    background-color: #1F1F1F;
    color :#B8B8B8;

    padding-top: 1rem;
    
}

.register-panel{ 
    position: absolute;
    top: 40%;
    left: 40%;

    padding: 0.5rem 0.3rem;    
    border-radius: 10px;

    width :15rem;
    height: 6.5em;

    background-color: black;
    font-family: 'Inter';

}

.register-title{ 
    display:flex;
    flex-direction: row;
    align-items: center;  
    justify-content: flex-end;

    padding-bottom: 1rem;

    background-color: black;
}

.close-icon{
    width:20px;
    height:20px;

    color: white;
    background-color: black;

    font-family: 'Inter';
    font-weight: 100;

    border:none;
}

.label-email{
    color:white;
    background-color: black;

    font-weight: 400;
    font-size:12px;

    padding-right: 4rem;
}

.form{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;  

    background-color: black;
}

input[type=email]{
    background-color: white;
    border : none;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;

    border-radius: 2px;

    width:95%;
    height: 25px;
}

.upvote{
    background-color: #2894DF;
    color:white;

    font-weight: 500;
    font-size: 9px;

    border: none;
    border-radius: 2px;
    margin-top :12px;

    width:95%;
    height: 25px;
    
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}


.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(123, 125, 123, 0.20);
}
