*{
    padding:0;
    margin:0;
    background-color:#171717;
    font-family:'Inter', sans-serif;
}

.title{
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.community-title{
    font-weight:600;
    color: #FFFFFF;
}

.color-title{
    font-weight: 600;
    color: #D40101; 
}

.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding:1rem 10rem;
}

.bp-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    

    border: 1px solid #282828;
    border-radius: 10px;

    padding:1rem;
    min-width: 250px;
}

.bp-container h5{
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 10px;
}

.bp-container-title{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 1rem;
}

.progression-bar-red{
    background-color :#3D1312;
    height: 3px;
    width: 13px;
    border-radius: 1px;
}

.already-done-red{
    background-color: #D40101;
    height:3px;
    width:3px;
    border-radius: 1px;
}

.progression-bar-yellow{
    background-color :#433522;
    height: 3px;
    width: 13px;
    border-radius: 1px;
}

.already-done-yellow{
    background-color: #F2AE54;
    height:3px;
    width:6px;
    border-radius: 1px;
}

.already-done-green{
    background-color: #068869 ;
    height:3px;
    width:13px;
    border-radius: 1px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   

    width: 100%;
}

.tiny-container {

    background-color: #1F1F1F;

    border-radius: 10px;
    padding: 1rem ;
    margin:0.4rem;

    height: 80%;
    max-height: 70px;
    width:80%;
}

.tiny-container-title{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;  

    background-color: #1F1F1F;
}

.tiny-title{
    background-color: #1F1F1F;
    padding-right: 10px; 
}

.tiny-pro-on{
    background-color: #2E2E2E;
    color:#FFFFFF;

    font-size: 7px;
    font-weight: 400;

    border-radius: 2px;

    padding: 2.5px 5px;
}

.tiny-pro-off{
    display:none;
}

.counter-box{
    width: 20px;
    height: 20px;

    background-color: #1F1F1F;

    border: 1px solid #3C3C3C;
    border-radius: 2px;
}

.counter-text{
    background-color: #1F1F1F;
    font-size: 7px;
    font-weight:500;
    font-family: 'Inter';
    color: white;
    text-align: center; 
    border-radius: 5px;
    margin:-10;
}

.icon-chevron{
    background-color: #1F1F1F;
    visibility: hidden;
    border-radius: 5px;
    transition: ease all 0.2s;
}

.counter{
    border-radius: 5px;
    background-color: #1F1F1F;
    transition: ease all 0.2s;
    margin-top: -6px;
}

.counter-box:hover{
    border-color: #D40101;
}

.counter-box:hover .icon-chevron {
    transform: translate(0rem, -0.02rem);
    transition: ease all 0.2s;
    visibility: visible;
}

.counter-box:hover .counter {
    background-color: #1F1F1F;
    transform: translate(0rem, 0.1rem);
    transition: ease all 0.2s;
}

.tiny-container p{
    font-size: 10px;
    background-color: #1F1F1F;
    color :#B8B8B8;

    padding-top: 1rem;
    
}

.register-panel{ 
    position: absolute;
    top: 40%;
    left: 40%;

    padding: 0.5rem 0.3rem;    
    border-radius: 10px;

    width :15rem;
    height: 6.5em;

    background-color: black;
    font-family: 'Inter';

}

.register-title{ 
    display:flex;
    flex-direction: row;
    align-items: center;  
    justify-content: flex-end;

    padding-bottom: 1rem;

    background-color: black;
}

.close-icon{
    width:20px;
    height:20px;

    color: white;
    background-color: black;

    font-family: 'Inter';
    font-weight: 100;

    border:none;
}

.label-email{
    color:white;
    background-color: black;

    font-weight: 400;
    font-size:12px;

    padding-right: 4rem;
}

.form{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;  

    background-color: black;
}

input[type=email]{
    background-color: white;
    border : none;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;

    border-radius: 2px;

    width:95%;
    height: 25px;
}

.upvote{
    background-color: #2894DF;
    color:white;

    font-weight: 500;
    font-size: 9px;

    border: none;
    border-radius: 2px;
    margin-top :12px;

    width:95%;
    height: 25px;
    
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(123, 125, 123, 0.20);
}

@media screen and (min-width: 300px) {
    .wrap{
        grid-template-columns: 1fr;
        padding:1rem 0.5rem;
        transition: ease all 0.5s;
    }
}

@media screen and (min-width: 800px) {
    .wrap{
        padding:1rem 13rem;
        transition: ease all 0.5s;
    }
}

@media screen and (min-width: 1100px) {
    .wrap{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        padding:1rem 10rem;
        transition: ease all 0.5s;
    }
}